body          { margin: 0; padding: 0; }
body, input   { font-size: 16px; font-family: 'Helvetica Neue', sans-serif; }
.page         { margin: 10px auto; max-width: 800px; }
h1            { margin: 0; font-weight: normal; color: #c00; }
a             { color: black; }
a:hover       { color: #c00; }
.nav          { margin: 0 0 15px 0; font-size: 14px; list-style: none; padding: 0 10px; }
.nav li       { display: inline; }
.nav li + li:before { content: " // "; }
h2            { font-weight: normal; color: #222; margin-bottom: 10px; padding-left: 10px}
.chk-private  { float: right; font-size: 12px; margin-top: 12px}
.drop-expiration  { float: left; font-size: 12px; margin-top: 12px}
dl            { overflow: auto; font-size: 14px; padding: 0 10px}
dl dt         { font-weight: bold; min-width: 70px; float: left; padding-right: 15px;
                clear: left; }
dl dd         { float: left; margin: 0; padding: 0; }
pre, div.code textarea { font-family: 'Consolas', monospace; font-size: 14px;
                background: #f4f4f4; padding: 10px; margin: 0; line-height: 1.4em;
                word-break: break-word; white-space: pre-wrap;}
textarea      { border: none; width: 780px; }
.pastetitle textarea { font-family: "sans-serif"; font-size: 24px; margin: 0; }
.code, .flash { background: #f4f4f4; padding: 0; }
.pagination strong,
.pagination span.ellipsis,
.pagination a { border: 1px solid #d00; padding: 2px 6px; text-decoration: none; }

/* trying to simplify the requests for style.css and small.css */
@media only screen and (max-width: 800px) {
    pre {
        font-size: 14px;
        line-height: 1.6em;
    }
    .page { margin: 20px auto; width: 100%; }
}
